body{
    background-image: url("Image/background_SF.jpg");
}

h2{
    color: #000000;
}

.players{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    border-radius: 10px;
    height: 5em;
}

div{
    align-items: center;
}
#healthBar{
    height: 30px;
    background-color: lightgrey;
    border-radius: 23px;
    border: 2px solid grey;
    margin-top: 10px;
}
.healthBars{
    display: flex;
    justify-content: space-around;
}

#healthBar2{
    height: 30px;
    background-color: lightgrey;
    border-radius: 23px;
    border: 2px solid grey;
    justify-content: right;
}

#myHealth1{
    height: 30px;
    width: 100%;
    background-color: green;
    border-radius: 23px;
    -webkit-animation: flash linear 2s infinite;
    animation: flash linear 2s infinite;
    text-align: center;
}

#myHealth2{
    height: 30px;
    width: 100%;
    background-color: green;
    border-radius: 23px;
    -webkit-animation: flash linear 2s infinite;
    animation: flash linear 2s infinite;
    text-align: center;
}
@-webkit-keyframes flash{
    0% {opacity: 1;}
    50% {opacity: .1;}
    100% {opacity: 1;}
}
@keyframes flash {
    0% {opacity: 1;}
    50% {opacity: .1;}
    100% {opacity: 1;}
}

.btns{
    justify-content: space-around;
    margin-bottom: 9%;
    margin-top: 10px;
}

.btns button{
    width: 100px;
    padding: 15px 0;
    font-size: 14px;
    font-style: bold;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: 4px solid rgb(253, 195, 4);
    background-color: rgba(167, 250, 250, 0.774);
}

#btn1{
    width: 100px;
    padding: 15px 0;
    font-size: 14px;
    font-style: bold;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: 4px solid rgb(84, 92, 197);
    background-color: rgba(167, 250, 250, 0.774);
}

#boneco1{
    height: 20em;
    width: 20em;
    margin-top: 7em;
}

#boneco2{
    height: 20em;
    width: 20em;
    margin-top: 8em;
}