body{
    background-color: grey;
}
h1{
    color: white;
    background-color: red;
}
p{
    color:chartreuse;
}

#mission{ /* # identifica o id único, sendo usado uma vez*/
    font-style: italic;
    font-family: "Garamond", "Century Gothic", serif;
    
}

.special{ /* . identifica uma class*/
    background-color: yellow;
    font-weight: bold;
}

p.shout{ /* p. identifica uma class*/
    color: red;
    font-family: cursive;
}

.selfCheck1{
    background-color: crimson;
    font-family: Tahoma;
}

#selfCheck2{
    font-family: Tahoma;
    color: blue;
}

.selfCheck3{
    font-size: 5em;
}

#selfCheck4{
    background-color: green;
    font-family: Tahoma;
    font: bold;
}

.selfBT{
    font-size: medium;
    font-family: Geneva, sans-serif;
    font-weight: bolder;
    color: red;
}

#selfBTblack{
    background-color: black;
}

#selfBTyello{
    background-color: yellow;
}

#redP{
    color: red;
}

#greenC{
    color: green;
}
.gCb{
    background-color: green;
}

.tTexto{
    font-size: 3em;
}

.external{
    background-color: green;
    color:red;
    font-size: 4em;
}
.external:link{
    background-color: white;
    color:red;
    font-size: 4em;
}
.external:hover{
    background-color: black;
    color:yellow;
    font-size: 4em;
}

p.pseudoE:first-line{
    color: rebeccapurple;
    font-family: Helvetica, sans-serif;
    font-size: 2em;
}
p.pseudoE:first-letter{
    color: wheat;
    font-family: Helvetica, sans-serif;
    font-size: 4em;
}

#styleDiv{
    width: 50%;
    margin-left: 25%;
    background-color: tomato;
    text-align: center;
}

#coluna{
    border: 6px solid #949599;
    height: 100px;
    margin: 20px;
    padding: 20px;
    width: 400px;
    background-color: brown;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }

  #menuL{
    width: 23%;
    margin-top: 0;
    margin-left: 0;
    background-color: rosybrown;
    position: fixed;
    display: inline;
    
  }
.menuCorp{
    width: 74%;
    padding-top: 5%;
    margin-left: 25%;
    background-color: tomato;
    text-align: center;
  }