<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://unpkg.com/vue-router@2.0.0"></script>

    <link rel="stylesheet" href="shopping_List.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Shopping List</title>
</head>

<body>
    <div id="app">

        <h2>Shopping List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Quantity</th>
                    <th scope="col">Item</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list">
                    <td>{{ itemP.quantity }}</td>
                    <td>{{ itemP.name }}</td>
                    <td>
                        <button @click="edit(item)" class="btn btn-info">Edit</button>
                        <button @click="remove(item)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Add new item</h3>
        <div class="sList">
                <div>
                    <label>Quantity</label>
                    <input type="number" v-model="itemP.quantity">
                </div>
                <div>
                    <label>Name</label>
                    <input v-model="itemP.name">
                </div>
                <button class="mt-3 mb-3 btn btn-primary" @click="add()">Add</button>
        </div>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                itemP: {
                    quantity: null,
                    name: null,
                },
                index: null,
                list: []
            },

            mounted() {
                const itemPs = JSON.parse(localStorage.getItem("itemP"))
                this.list = itemPs ? itemPs : []
            },

            methods: {
                add() {
                    if (this.itemP.id === 0) {
                        this.itemP.id = this.list.length + 1
                        this.list.push(this.itemP)
                    }
                    else {
                        this.list[this.index] = this.itemP
                    }
                    localStorage.setItem("itemP", JSON.stringify(this.list))
                    this.itemP = { quantity: null, name: null }
                },

                remove(item) {
                    const idx = this.list.indexOf(item)
                    this.list.splice(idx, 1)
                    localStorage.setItem("itemP", JSON.stringify(this.list))
                },

                edit(item) {
                    this.index = this.list.indexOf(item)
                    this.itemP = Object.assign({}, item);
                    localStorage.setItem("itemP", JSON.stringify(this.list))
                }
            },
        });
    </script>
</body>

</html>